@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
        url("../fonts/OpenSans-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
        url("../fonts/Raleway-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
        url("../fonts/Raleway-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
        url("../fonts/Raleway-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

/* ---------------- VARIABLES ---------------- */
:root {
    --basic-white: #F9F9F9;
    --basic-black: #27302E;
    --basic-gray: #6A716F;
    --basic-oliva: #C6B166;
}

/* ---------------- BASIC ---------------- */
html,
body {
    height: 100%;
}
.page-body {
    font-family: "OpenSans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.94;
    color: var(--basic-black);
    
    max-width: 1920px;
    margin: 0 auto;

    /* Временная заливка */
    /* background-color: rgba(211, 200, 200, 0.849); */
    background-color: var(--basic-white);
}

/* ----- Прячет заголовки ----- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ---------------------------- */
  
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0px 294px;
    margin: 0px auto;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.uppercase {
    text-transform: uppercase;
}
.title {
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.18;
    margin: 0;
    padding: 0;
}
.subtitle {
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.46;
    margin: 0;
    padding: 0;
}
.button {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    padding: 33px 55px;
    border: 2px solid var(--basic-oliva);
    background-color: var(--basic-white);
}

/* ---------------- HEADER ---------------- */
.main-header {
}
.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 167px;
}
.main-header__container > div:not(:last-child) {
    margin-right: 10px;
}
.main-header__logo {
}
.main-header__menu {
}
.main-header__navigation {
}
.main-navigation {
}
.main-navigation__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-navigation__item {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
}
.main-navigation__item:not(:last-child) {
    margin-right: 35px;
}
.main-navigation__link {
    color: var(--basic-black);
    text-decoration: none;
}
.main-header__contacts {
    display: flex;
    flex-direction: column;
}
.main-header__phone-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    color: var(--basic-black);
    text-decoration: none;
    margin-bottom: 4px;
    white-space: nowrap;
}
.main-header__feedback-link {
    font-family: "OpenSans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-oliva);
    text-decoration: none;
}

/* ---------------- PROMO ---------------- */
.promo {
}
.promo__container {
    display: flex;
    position: relative;
    margin: 0px 0px 210px;
}
.promo__offer {
    position: absolute;
    top: 86px;
    right: 0;
    /* right: -445px; */
    max-height: 630px;
    max-width: 595px;
    display: flex;
    flex-direction: column;
    padding: 0px 200px 0px 0px;
    z-index: 2;
}
.promo__offer-content {
    max-width: 590px;
    padding: 60px 0px 0px 55px;
    background-color: var(--basic-white);
}
.promo__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 1.34;
    padding: 0;
    margin: 0px 0px 20px ;
}
.main-title {
}
.promo__description {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.65;
    padding: 0;
    margin: 0px 0px 60px;
    max-width: 485px;
}
.promo__action {
    margin-left: auto;
}
.promo__button-link {
    display: block;
    width: max-content;
    color: var(--basic-black);
    text-decoration: none;
}
.promo__slider {
    position: relative;
}
.promo__slider-item {
    max-width: 630px;
    max-height: 876px;
}
.promo__slider-item img {
    max-width: 100%;
    max-height: 100%;
}
.promo__slider-controls {
    position: absolute;
    bottom: -50px;
    right: -40px;
    display: flex;
}
.promo__slider-conrol {
    width: 102px;
    height: 102px;
    background-color: var(--basic-white);
    justify-content: center;
    align-items: center;
    border: none;
}
.promo__slider-conrol--left {
}
.promo__slider-conrol--right {
}
.promo__socials {
    order: -1;
    
}
.promo__socials-list {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    margin: 0px 103px 0px 0px;
}
.promo__socials-item {
    
}
.promo__socials-link {
}
.advantages {
    margin: 0px 0px 160px;
}
.advantaged__container {
}
.advantages__title {
}
.title {
}
.advantages__content {

}
.advantages__content-description {
    max-width: 66.666%;
}
.advantages__description {
}
.advantages__list {
    /* max-width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex;
    flex: 0 1 33.333%; */
}
.advantages__item {
}
.advantages__item:not(:last-child) {
    margin: 0px 10px 0px 0px;
}
.advantages__title-container {
    display: flex;
    min-height: 70px;
}
.advantages__title-container img {
    order: -1;
    margin: 0px 25px 0px 0px;
}
.advantages__subtitle {
}
.subtitle {
}
.advanteges__description {
}

@media (max-width:1800px) {
    .promo__offer {
        padding: 0px 100px 0px 0px;
    }
}

@media (max-width:1700px) {
    .promo__offer {
        padding: 0px 50px 0px 0px;
    }
}

@media (max-width:1655px) {
    /* .promo__offer {
        padding: 0px 50px 0px 0px;
    } */
    .promo__socials-list {
        margin: 0px 50px 0px 0px;
    }
}

@media (max-width:768px) {
    .wrapper {
        padding: 0px 50px;
    }
    /* ----- Прячем заголовки ----- */
    .main-header__contacts {
        display: none;
    }
    /* ----- Меню Бургер ----- */
    .main-header__container {
        /* min-width: 100%; */
    }
    .main-header__menu {
        position: relative;
        /* min-width: 100%; */
    }
    .main-header__menu-burger {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 20px;
    }
    .main-header__menu-burger span {
        position: absolute;
        top: 9px;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: var(--basic-oliva);
    }
    .main-header__menu-burger::before,
    .main-header__menu-burger::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--basic-oliva);
    }
    .main-header__menu-burger::before {
        top: 0;
    }
    .main-header__menu-burger::after {
        bottom: 0;
    }
    /* ---------------------------- */
    .main-header__navigation {
        position: absolute;
        top: 40px;
        left: 0;
    }
    .main-navigation__list {
        flex-direction: column;
        justify-content: space-between;
    }
}